<h1>Hot Weather Widget</h1>
<div class="element">
  <!--  -->
  <div class="element-left">
    <div class="element-bg-img"><img src="../assets/1.jpg" alt="" class="img-responsive"> </div>
    <div class="element-left-bottom">
      <div class="ele-strip">
        <ul>
          <li (click)="onChangeType('all')"><a>All</a></li>
          <li (click)="onChangeType('hotel')"><a>Hotel</a></li>
          <li (click)="onChangeType('fishing')"><a>Fishing</a></li>
          <li (click)="onChangeType('tours')"><a>Tours</a></li>
          <li class="anc-bor" (click)="onChangeType('weather')"><a>Weather</a></li>
        </ul>
      </div>
      <div class="village">
        <h3>Righteous indignation & like</h3>
        <span class="line"> </span>
        <div class="activity_box">
          <div class="scrollbar" id="style-2">
            <ng-container *ngIf="(data$ | async) as items">
              <app-main *ngFor="let item of items | typeFilter : typeFilter" [item]="item" (click)="onSelect(item)"></app-main>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  -->
  <div class="element-right">
    <!--  -->
    <app-weather [item]="item"></app-weather>
    <!--  -->
    <!--  -->
    <app-social-info [item]="item"></app-social-info>
    <!--  -->
  </div>
  <div class="clear"> </div>
</div>
<app-copy-right></app-copy-right>
